<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>All applications results</title>

    <%- include('./snippets/adminHeader.ejs') %>
  </head>
  <body>

    <%- include('./snippets/svg.ejs') %>

    <div class="container-fluid">
      <div class="row">
       <%- include('./snippets/adminSidebar.ejs') %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="text-center mt-5 text-primary">
                <h4 class="fw-bold fs-4 display-1">All Applicants Results</h4>
            </div>
            <% if (context.results) { %>
             <% context.results.forEach(result => { %>
              <table id="example" class="table small table-sm table-striped mt-5" style="width:100%">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Qualification</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= result.applicantId.fullName %></td>
                        <td><%= result.applicantId.email %></td>
                        <td><%= result.applicantId.phone_no %></td>
                        <td><%= result.applicantId.qualification %></td>
                        <td><%= result.score %>%</td>
                    </tr>
                </tbody>
            </table>
             <% }) %>
            <% } %>
        </main>
      </div>
    </div>

    <%- include('./snippets/adminScripts.ejs') %>
   
  </body>
</html>
